#destinations {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    justify-content: space-evenly;
}

#destinations img {
    height: 200px;
    width: 250px;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px grey;
    object-fit: cover;
}

.destination {
    text-align: center;
    text-transform: uppercase;
    color: grey;
}

.destination strong {
    color: teal;
}

#highlights h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: rgb(59, 65, 64);
}