body {
  font-family: Anton;
}

body #logo {
  font-size: 25pt;
  text-decoration: none;
  color: green;
  text-shadow: 2px 2px black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
}