body {
  font-family: Anton;
  margin: 0;
  padding: 0;
}

body #logo {
  font-size: 25pt;
  text-decoration: none;
  color: green;
  text-shadow: 2px 2px black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body section a {
  text-decoration: none;
  color: blue;
  background-color: rgb(255, 251, 0);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}